@charset "ISO-8859-1";
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100&family=Spectral&display=swap');
html,body{
	background-color: aliceblue;
/*	overflow-y: scroll;*/
/*	overflow-x: scroll;*/
background-image: url("../Media/background.png");
}

#pageBody {
    margin: 0;
    padding: 50px;
    font-family: Arial, sans-serif;
    background-color: aliceblue;
    text-align: center;
    background: transparent;
}
#headLine {
    color: #333333;
    margin:20px;
    font-family: 'Brush Script MT', cursive;
    font-size: 90px;
    text-shadow: 0px 0px 5px aliceblue;
}

#tagLine{
    color: rgb(0, 157, 157);
    margin: 50px;
    font-family: 'Lato', sans-serif;
	font-family: 'Spectral', serif;
	font-size: 40px;
	text-shadow: 0px 0px 5px aliceblue;
}

.cardsBody{
	display: flex;
	justify-content: center;
	align-items: center;
}
.card{
	margin:10px;
	padding: 10px;
	background-color: transparent !important;
	border-color: #6DC3E8 !important;
}
