@charset "ISO-8859-1";

#pageContain {
	margin: 8rem;
	display: flex;
	justify-content: center;
}

form {
	width: 35rem;
	background-color: beige;
	padding: 2rem;
	height: 20rem;
	border-radius: 10px;
	box-shadow: 2px 2px 0px black;
}

form label {
	width: 10rem;
	text-align: right;
	padding: 10px;
	font-size: 18px;
}

form input,
#type {
	width: 15rem;
	font-size: 18px;
	padding: 5px;
	border-color: transparent;
	box-shadow: 1px 1px black;
	border-radius: 10px;
}

form div {
	margin: 5px
}

form button {
	width: 8rem;
	padding: 5px;
	border-radius: 10px;
	border-color: transparent;
	box-shadow: 2px 2px skyblue;
	background-color: aqua;
	font-size: 18px;
	color: white;
	text-shadow: 0px 0px 4px black;
}
#btn{
	margin-top: 10px;
	text-align: right;
}
form input:focus,
form input:active {
	color: var(--bs-body-color);
	background-color: var(--bs-form-control-bg);
	border-color: #86b7fe;
	outline: 0;
	box-shadow: 0 0 4px 5px rgba(13, 110, 253, .25);
}

#result {

	margin-left: 2rem;
	background-color: #86b7fe;
	margin-top: 10px;
	width: 45rem;
	overflow-y: scroll;
	padding: 2rem;
	height: 20rem;
	border-radius: 10px;
	box-shadow: 2px 2px 0px black;
}

table thead tr th{
	padding: 10px;
	text-align: center;
	font-family:'Times New Roman', Times, serif;
}
tbody tr td{
	padding: 10px;
	text-align: center;
	font-family:'Times New Roman', Times, serif
}